.header-container{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
    margin-left:40px;
}

.header-avatar{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.addpost-container{
    padding-left: 40px;
    min-width: 100%;
}

.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.avatar-button{
    margin-top: 20px;
    margin-bottom:10px;
}

.error{
    color:orangered;
    font-weight: bold;
}
